<ons-page ng-controller="AppController" ng-if="!ingelogd()">
  <ons-toolbar>
    <div class="center">Inloggen <span ng-show="name != 'Onbekend'"> bij {{name}}</span></div>
  </ons-toolbar>
  
  <div class="login-form">
    <img ng-bind="image"  src="{{image}}" width="200" height="200" alt="{{name}}" />
    <input ng-model="pageModel.login.email.value" name="email" type="email" class="text-input--underbar" placeholder="Email" ng-change="validate('login','email')">
    <input ng-model="pageModel.login.password.value" name="password" type="password" class="text-input--underbar" placeholder="Wachtwoord" ng-change="validate('login','password')" ng-invalid="!pageModel.login.password.valid">
    <br><br>
    <ons-button modifier="large" ng-click="login()" class="login-button" ng-disabled="!pageModel.login.valid">Log In</ons-button>
    <ons-button modifier="quiet" class="forgot-password">Wachtwoord vergeten?</ons-button>
    <ons-button modifier="quiet" class="forgot-password" ng-click="app.navi.pushPage('register.html');">Registreren</ons-button> 
</div>
  
<style>
.login-form {
  text-align: center;
  width: 80%;
  margin: 30px auto 0;
}

input[type=email], input[type=password], input[type=text] {
  display: block;
  width: 100%;
  margin: 0 auto;
  outline: none;
  padding-top: 24px;
  padding-bottom: 24px;
}

.login-button {
  width: 100%;
  margin: 0 auto;
}

.forgot-password {
  display: block;
  margin: 8px auto 0 auto;
  font-size: 14px;
}
</style>

</ons-page>
