<ons-navigator ng-controller="AppController" animation="slide" title="Navigator" var="myNavigator">
   <ons-include ng-if="!ingelogd()" ng-hide="ingelogd()" ng-show="!ingelogd()" page="login.html"></ons-include> 
</ons-navigator>
<ons-template ng-controller="AppController" ng-if="!ingelogd()" id="register.html">
<ons-include ng-if="!ingelogd()" ng-hide="ingelogd()" ng-show="!ingelogd()" page="register.html"></ons-include>
</ons-template>
<ons-template id="hoofdmenu.html">
<ons-page ng-if="ingelogd()" ng-hide="!ingelogd()" ng-show="ingelogd()" id="main_menu.html">
<ons-tabbar ng-controller="AppController" animation="slide" title="Navigator" var="mainMenuTabBar">
    <ons-tabbar-item
        icon="list"
        label="Overzicht"
        page="page1.html"
        active="true"></ons-tabbar-item>
    <ons-tabbar-item
        icon="write"
        label="Nieuwe vraag"
        page="page2.html"></ons-tabbar-item>
    <ons-tabbar-item
        icon="key"
        label="Uitloggen"
        page="page3.html"></ons-tabbar-item>
</ons-tabbar> 
</ons-page>
</ons-template>