<ons-template id="navigator.html">
        <ons-tabbar animation="slide" var="mainMenuTabBar">
            <ons-tabbar-item
                icon="list"
                label="Overzicht"
                page="page1.html"
                active="true"></ons-tabbar-item>
            <ons-tabbar-item
                icon="write"
                label="Nieuwe vraag"
                page="page2.html"></ons-tabbar-item>
            <ons-tabbar-item
                icon="key"
                label="Uitloggen"
                page="page3.html"></ons-tabbar-item>
        </ons-tabbar>
</ons-template>
